{
    frankenphp
    order php_server before file_server
}

:80 {
    root * /app/public

    encode zstd gzip

    # Handle Laravel storage directory safely
    handle_path /storage/* {
        root * /app/storage/app/public
        file_server
    }

    @static {
        file
        path *.css *.js *.ico *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp
    }
    handle @static {
        file_server
    }

    php_server
}
