{
    frankenphp
    order php_server before file_server
}

:80 {
    root * /app/public

    encode zstd gzip

    # Handle storage symlink
    @storage {
        path /storage/*
    }
    handle @storage {
        file_server
    }

    @static {
        file
        path *.css *.js *.ico *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp
    }
    handle @static {
        file_server
    }

    php_server
}
